---
import Layout from '../layouts/Layout.astro';
import ContextAlert from '../components/ContextAlert.astro';
import Markdown from '../components/Markdown.astro';

const explainer = `
This is a Netlify hosted simple site.

`;
---

<Layout title="Welcome to Astro.">
    <ContextAlert class="mb-4" />
    <h1 class="mb-10">Example Non-Accrisoft Website</h1>
    <Markdown content={explainer} class="text-lg mb-10" />
    <p class="mb-8">
        <a href="https://docs.netlify.com/frameworks/astro/" class="btn btn-lg btn-primary sm:btn-wide">Read the Docs</a>
    </p>

    <iframe style="width: 100%; min-height: 1080px;" src="https://www.tamparealtors.org/index.php?src=reso&amp;srctype=reso_lister_iframe&amp;filter%5B%5D=ListAOR%7Ceq%7CTampa%7C1&amp;filter%5B%5D=ListAOR%7Ceq%7CPinellas%20Suncoast%7C1&amp;filter%5B%5D=PropertyType%7Ceq%7CResidential&amp;top=10&amp;query=1&amp;"></iframe><


</Layout>

